@use "../../../styles/variables" as v;
@use "../../../styles/mixins" as m;

.search {
  width: 100%;
  display: flex;
  align-items: center;
  overflow: hidden;
  border-radius: v.$border-input;
  border: 1px solid v.$clr-form-border;
}

.searchInput {
  flex: 1;
  border: none;
  border-radius: 0;
  padding: 0 52px 0 12px;
  -webkit-appearance: none;
  appearance: none;
}

.searchButton {
  position: relative;
  height: 44px;
  border: none;
  background-color: rgb(255, 255, 255);
  cursor: pointer;
  display: inline-flex;
  align-items: center;
  gap: 0.5rem;
  font-size: v.$fs-16;
  font-weight: 400;
  letter-spacing: 1px;

  .searchLabel {
    display: none;

    @include m.up(md) {
      display: inline;
    }
  }
}
