@use "../../../styles/variables" as v;
@use "../../../styles/mixins" as m;

.setCard {
  display: grid;
  grid-template-columns: 1fr 1fr;
  max-width: 650px;
  padding: 1.2rem;
  background-color: v.$clr-bg-card;
  border-radius: v.$border;
  box-shadow: v.$shadow;
  margin-block: 4rem;

  .imgContainer {
    display: flex;
    justify-content: center;
  }

  .details {
    margin: 0;
    display: grid;
    grid-template-columns: max-content 1fr;
    row-gap: 0.7rem;
    column-gap: 3rem;
  }

  .detailRow {
    display: contents;

    dt {
      grid-column: 1;
    }

    dd {
      grid-column: 2;
    }
  }
}

//------ TRADERA
.traderaCard {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 1.2rem;
  background-color: v.$clr-bg-card;
  border-radius: v.$border;
  box-shadow: v.$shadow;
}
