@use "sass:color";
@use "../../../styles/variables" as v;
@use "../../../styles/mixins" as m;

.button {
  min-height: 44px;
  width: fit-content;
  box-shadow: v.$shadow;
  border-radius: 18px;
  padding: 1rem 1.25rem;
  line-height: 1;
  border: 0;
  cursor: pointer;

  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;

  &:disabled {
    cursor: not-allowed;
    box-shadow: none;
    color: v.$clr-font-disabled;
  }
}

.primary {
  background-color: v.$clr-primary;

  &:not(:disabled):hover {
    background-color: v.$clr-primary-hover;
  }

  &:disabled {
    background-color: v.$clr-primary-disabled;
  }
}

.secondary {
  background-color: v.$clr-secondary;

  &:not(:disabled):hover {
    background-color: v.$clr-secondary-hover;
  }

  &:disabled {
    background-color: v.$clr-secondary-disabled;
  }
}

.danger {
  background-color: v.$clr-danger;
  color: v.$clr-font-light;

  &:hover {
    background-color: v.$clr-danger-hover;
  }
}
