@use "../../styles/variables" as v;
@use "../../styles/mixins" as m;

.accordion {
  display: grid;
  gap: 1rem;
}

.item {
  border: 1px solid grey;
  border-radius: 12px;
  padding: 0.8rem;
  background-color: v.$clr-bg-card;
}

.trigger {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 0.75rem;
  padding: 0.75rem 0.75rem 0.75rem 0;
  background-color: transparent;
  border: 0;
  cursor: pointer;
  font: inherit;
  text-align: left;
}
