@use "sass:color";
@use "../../styles/variables" as v;
@use "../../styles/mixins" as m;

.button {
  min-height: 44px;
  box-shadow: 1px 10px 20px rgb(0 0 0 / 30%);
  border-radius: 18px;
  padding: 1rem;
  line-height: 1;
  border: 0;
  cursor: pointer;

  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;

  &:disabled {
    cursor: not-allowed;
    box-shadow: none;
    color: v.$clr-font-disabled;
    background-color: v.$clr-primary-disabled;
  }
}

.primary {
  background-color: v.$clr-primary;

  &:not(:disabled):hover {
    background-color: v.$clr-primary-hover;
  }
}

.secondary {
  background-color: v.$clr-secondary;

  &:hover {
    background-color: v.$clr-secondary-hover;
  }
}

.danger {
  background-color: v.$clr-danger;

  &:hover {
    background-color: v.$clr-danger-hover;
  }
}
