@use "../../styles/variables" as v;
@use "../../styles/mixins" as m;

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 3rem;
  gap: 1.5rem;
}

.tagline {
  font-size: 1.2rem;
  margin-bottom: 1rem;
  text-align: center;
}

.featuresSection {
  text-align: center;
  padding: 1rem 0;
}

.features {
  display: flex;
  flex-direction: column;
  margin: 2rem;
  gap: 2rem;
  list-style: none;
  align-items: center;
  padding: 0;

  @include m.up(md) {
    flex-direction: row;
  }

  li {
    display: flex;
    align-items: center;
    gap: 0.5rem;
  }

  li::before {
    content: "";
    width: 1rem;
    height: 1rem;
    flex: 0 0 1rem;
    background: url("/icons/brick.svg") no-repeat center / contain;
  }
}

.card {
  background-color: v.$clr-bg-card;
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 530px;
  gap: 1.3rem;
  padding: 1rem;
  margin: 2rem;
  border: 2px solid v.$clr-primary;
  border-radius: 18px;
  box-shadow: v.$shadow;

  h2 {
    text-transform: uppercase;
    margin-top: 1.5rem;
  }

  form {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin-bottom: 2rem;
  }

  small {
    display: block;
    text-wrap: wrap;
  }

  input {
    margin: 1rem 0;
  }

  button {
    margin: 0 auto;
  }

  .muted {
    opacity: 0.8;
  }
}
