@use "sass:map";

//------**BREAKPOINTS**-----//
$breakpoints: (
  md: 769px,
  lg: 1023px,
);

@mixin up($bp) {
  $min: map.get($breakpoints, $bp);

  @if $min == null {
    @error "Okänd breakpoint: #{$bp}";
  }

  @media (min-width: $min) {
    @content;
  }
}
