@use "./variables" as v;
@use "./mixins" as m;

.logoName {
  font-family: var(--font-brand);
  font-weight: 400;
  line-height: 1.1;
  letter-spacing: 0.2rem;
  font-size: v.$fs-28;

  @include m.up(md) {
    font-size: v.$fs-34;
  }

  @include m.up(lg) {
    font-size: v.$fs-52;
  }
}

h1 {
  font-weight: 600;
  line-height: 1.2;
  letter-spacing: 0.3rem;
  font-size: v.$fs-28;

  @include m.up(md) {
    font-size: v.$fs-34;
  }

  @include m.up(lg) {
    font-size: v.$fs-42;
  }
}

h2 {
  font-weight: 500;
  line-height: 1.3;
  letter-spacing: 0.1rem;
  font-size: v.$fs-20;

  @include m.up(md) {
    font-size: v.$fs-24;
  }

  @include m.up(lg) {
    font-size: v.$fs-30;
  }
}

h3 {
  font-weight: 500;
  line-height: 1.3;
  font-size: v.$fs-18;

  @include m.up(md) {
    font-size: v.$fs-18;
  }

  @include m.up(lg) {
    font-size: v.$fs-20;
  }
}

p {
  font-weight: 400;
  line-height: 1.4;
  font-size: v.$fs-16;

  @include m.up(md) {
    font-size: v.$fs-16;
  }

  @include m.up(lg) {
    font-size: v.$fs-16;
  }
}

small {
  font-weight: 500;
  line-height: 1.4;
  font-size: v.$fs-13;

  @include m.up(md) {
    font-size: v.$fs-14;
  }

  @include m.up(lg) {
    font-size: v.$fs-14;
  }
}

input {
  font-weight: 500;
  line-height: 1;
  font-size: v.$fs-16;
  font-style: italic;
  transform: translateY(-2px);

  @include m.up(md) {
    font-size: v.$fs-18;
  }

  @include m.up(lg) {
    font-size: v.$fs-19;
  }
}

label {
  font-weight: 600;
  line-height: 1.3;
  font-size: v.$fs-14;

  @include m.up(md) {
    font-size: v.$fs-16;
  }

  @include m.up(lg) {
    font-size: v.$fs-16;
  }
}

.navLink {
  font-weight: 500;
  line-height: 1.2;
  font-size: v.$fs-20;

  @include m.up(md) {
    font-size: v.$fs-20;
  }

  @include m.up(lg) {
    font-size: v.$fs-24;
  }
}

dt {
  font-weight: 600;
  line-height: 1.2;
  font-size: v.$fs-15;
}

dd {
  font-weight: 400;
  line-height: 1.4;
  font-size: v.$fs-15;
}
