@use "./variables" as v;
@use "./mixins" as m;

.logoName {
  font-family: v.$font-brand;
  font-weight: 800;
  line-height: 1.1;
  font-size: v.$fs-40;

  @include m.up(md) {
    font-size: v.$fs-52;
  }

  @include m.up(lg) {
    font-size: v.$fs-64;
  }
}

h1 {
  font-family: v.$font-brand;
  font-weight: 800;
  line-height: 1.2;
  font-size: v.$fs-28;

  @include m.up(md) {
    font-size: v.$fs-34;
  }

  @include m.up(lg) {
    font-size: v.$fs-42;
  }
}

h2 {
  font-family: v.$font-brand;
  font-weight: 600;
  line-height: 1.3;
  font-size: v.$fs-22;

  @include m.up(md) {
    font-size: v.$fs-26;
  }

  @include m.up(lg) {
    font-size: v.$fs-32;
  }
}

h3 {
  font-family: v.$font-body;
  font-weight: 500;
  line-height: 1.3;
  font-size: v.$fs-20;

  @include m.up(md) {
    font-size: v.$fs-20;
  }

  @include m.up(lg) {
    font-size: v.$fs-24;
  }
}

p {
  font-family: v.$font-body;
  font-weight: 400;
  line-height: 1.4;
  font-size: v.$fs-16;

  @include m.up(md) {
    font-size: v.$fs-17;
  }

  @include m.up(lg) {
    font-size: v.$fs-18;
  }
}

small {
  font-family: v.$font-small;
  font-weight: 500;
  line-height: 1.4;
  font-size: v.$fs-13;

  @include m.up(md) {
    font-size: v.$fs-14;
  }

  @include m.up(lg) {
    font-size: v.$fs-14;
  }
}

input {
  font-family: v.$font-body;
  font-weight: 500;
  line-height: 1.3;
  font-size: v.$fs-16;

  @include m.up(md) {
    font-size: v.$fs-18;
  }

  @include m.up(lg) {
    font-size: v.$fs-19;
  }
}

label {
  font-family: v.$font-body;
  font-weight: 500;
  line-height: 1.3;
  font-size: v.$fs-14;

  @include m.up(md) {
    font-size: v.$fs-14;
  }

  @include m.up(lg) {
    font-size: v.$fs-15;
  }
}

button {
  font-family: v.$font-brand;
  font-weight: 600;
  line-height: 1.2;
  font-size: v.$fs-18;

  @include m.up(md) {
    font-size: v.$fs-20;
  }

  @include m.up(lg) {
    font-size: v.$fs-20;
  }
}

nav {
  font-family: v.$font-brand;
  font-weight: 500;
  line-height: 1.2;
  font-size: v.$fs-16;

  @include m.up(md) {
    font-size: v.$fs-17;
  }

  @include m.up(lg) {
    font-size: v.$fs-18;
  }
}
