//------**COLORS**---------//

$clr-accent: #e17a3a;
$clr-focus: #d95932;
$clr-font-light: #e5e7eb;
$clr-font-dark: #171717;
$clr-danger: #8f1f1f;

$clr-bg-dark: #0f172a;
$clr-bg-card: #1e293b;

$clr-border: #c9af90;

//------**FONTS**----------//
$font-brand: "Baloo 2", sans-serif;
$font-body: "Lexend", sans-serif;
$font-small: "Barlow", sans-serif;

$fs-64: 4rem;
$fs-52: 3.25rem;
$fs-42: 2.625rem;
$fs-40: 2.5rem;
$fs-34: 2.125rem;
$fs-32: 2rem;
$fs-28: 1.75rem;
$fs-26: 1.625rem;
$fs-24: 1.5rem;
$fs-22: 1.375rem;
$fs-20: 1.25rem;
$fs-19: 1.1875rem;
$fs-18: 1.125rem;
$fs-17: 1.0625rem;
$fs-16: 1rem;
$fs-15: 0.9375rem;
$fs-14: 0.875rem;
$fs-13: 0.8125rem;
