//------**COLORS**---------//

$clr-bg-main: #f1eade;
$clr-bg-frame: #f9f4ef;
$clr-bg-card: #f9f4ef;

$clr-primary: #779776;
$clr-primary-hover: #5c845a;
$clr-primary-disabled: #b6c4b5;
$clr-secondary: #f5d283;
$clr-secondary-hover: #e2bc66;
$clr-secondary-disabled: #dac79b;
$clr-danger: #9c4b4b;
$clr-danger-hover: #8c3636;

$clr-font-light: #ceccc9;
$clr-font-dark: #2d3e46;
$clr-font-disabled: rgba(45, 62, 70, 0.7);

$clr-accent: #e7c15c;
$clr-focus: #112531;

$clr-form-border: #b2a89e;
$clr-toggle: $clr-primary;

//------**FONTS**----------//

$fs-52: 3.25rem;
$fs-42: 2.625rem;
$fs-40: 2.5rem;
$fs-34: 2.125rem;
$fs-32: 2rem;
$fs-30: 1.875rem;
$fs-28: 1.75rem;
$fs-26: 1.625rem;
$fs-24: 1.5rem;
$fs-22: 1.375rem;
$fs-20: 1.25rem;
$fs-19: 1.1875rem;
$fs-18: 1.125rem;
$fs-17: 1.0625rem;
$fs-16: 1rem;
$fs-15: 0.9375rem;
$fs-14: 0.875rem;
$fs-13: 0.8125rem;

//------**MISC**---------//
$border: 18px;
$border-input: 10px;
$shadow: 1px 12px 20px rgb(0 0 0 / 30%);
