@use "./reset";
@use "./typography";
@use "./variables" as v;

html {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

main {
  background-color: v.$clr-bg-dark;
  flex: 1;
}
