@use "./reset";
@use "./typography";
@use "./variables" as v;

html {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  font-family: var(--font-body);
  color: v.$clr-font-dark;
}

main {
  background-color: v.$clr-bg-main;
  flex: 1;
  padding-block: 2rem;
}

.container {
  width: 100%;
  max-width: 1240px;
  margin-inline: auto;
  padding-inline: clamp(0.5rem, 4vw, 2rem);

  h1 {
    margin: 0 auto;
    padding: 2.5rem;
    text-transform: uppercase;
  }
}

input {
  border: 1px solid #b2a89e;
  border-radius: 10px;
  padding: 0.5rem;
}
