@use "./reset";
@use "./typography";
@use "./variables" as v;

html {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  font-family: var(--font-body);
  color: v.$clr-font-dark;
}

main {
  background-color: v.$clr-bg-main;
  flex: 1;
}
