@use "../../styles/variables" as v;
@use "../../styles/mixins" as m;

.toolbar {
  display: grid;
  gap: 0.8rem;
}

.row {
  margin: 0.6rem;
}

.rowControls {
  display: flex;
  align-items: start;
  gap: 0.8rem;
}
