@use "../../styles/variables" as v;
@use "../../styles/mixins" as m;

.toolbar {
  display: grid;
  gap: 0.8rem;
}

.row {
  margin: 0.6rem;
  min-width: 0;
}

.rowSortFilter {
  display: flex;
  flex-direction: column;
  gap: 0.8rem;

  @include m.up(md) {
    flex-direction: row;
    justify-content: space-between;
  }
}
