@use "../../../styles/variables" as v;
@use "../../../styles/mixins" as m;

.list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
  justify-content: start;
  margin: 0;
  padding: 0;
  gap: 1rem;
  list-style: none;
}
