@use "../../styles/variables" as v;
@use "../../styles/mixins" as m;

.modal {
  position: fixed;
  inset: 0;
  margin: auto;
  width: min(520px, 100%);
  padding: 2rem 1.25rem;

  background-color: v.$clr-bg-card;
  border-radius: 18px;
  border: none;
  box-shadow: v.$shadow;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1.5rem;

  &::backdrop {
    background: rgb(0 0 0 / 20%);
    backdrop-filter: blur(6px);
  }

  .warningIcon {
    display: grid;
    place-items: center;
    margin: 1rem 0;
  }

  p {
    width: 90%;
    text-align: center;
  }

  .buttonWrapper {
    display: grid;
    grid-template-columns: 1fr;
    gap: 2rem;
    width: 90%;

    @include m.up(md) {
      grid-template-columns: 1fr 1fr;
    }

    button {
      width: 100%;
    }
  }
}
