@use "../../styles/variables" as v;
@use "../../styles/mixins" as m;

.header {
  display: flex;
  justify-content: center;
  position: relative;
  background-color: v.$clr-bg-frame;
  padding: 1rem;

  @include m.up(lg) {
    padding: 2rem;
  }

  a:visited {
    color: inherit;
  }
}

.inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: clamp(0.5rem, 3vw, 2rem);
  min-width: 0;
}

.logoName {
  text-align: center;
  text-transform: uppercase;
  color: inherit;
}

.nav {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

//---- Desktop
.desktopList {
  display: none;

  list-style: none;
  margin: 0;
  padding: 0;

  @include m.up(md) {
    display: flex;
    align-items: center;
    gap: 2rem;
  }
}

// --- Mobile
.menuButton {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  background: transparent;
  border: 0;
  cursor: pointer;

  @include m.up(md) {
    display: none;
  }
}

.mobilePanel {
  position: absolute;
  left: 0;
  right: 0;
  top: 100%;
  background-color: v.$clr-bg-frame;
  z-index: 50;
  overflow: hidden;

  transform: translateY(-12px);
  opacity: 0;
  max-height: 0;
  pointer-events: none;

  transition:
    max-height 180ms ease-in,
    opacity 120ms ease-in,
    transform 180ms ease-in;

  @include m.up(md) {
    display: none;
  }
}

.open {
  max-height: 60vh;
  opacity: 1;
  transform: translateY(0);
  pointer-events: auto;

  transition:
    max-height 580ms ease-out,
    opacity 380ms ease-out,
    transform 580ms ease-out;
}

.mobileInner {
  width: 100%;
  max-width: 1280px;
  margin: 0 auto;
  padding: 1rem 2rem;
  display: flex;
  justify-content: center;
}

.mobileList {
  list-style: none;
  margin: 0;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  text-align: left;
}
