@use "./../../styles/variables" as v;
@use "./../../styles/mixins" as m;

.traderaList {
  display: grid;
  grid-template-columns: 1fr;
  padding: 1.2rem;
  gap: 1rem;
  background-color: v.$clr-bg-card;
  border-radius: v.$border;
  box-shadow: v.$shadow;
  list-style: none;

  @include m.up(sm) {
    grid-template-columns: repeat(auto-fit, minmax(380px, 1fr));
  }
}

.traderaCard {
  display: grid;
  grid-template-columns: 1fr;
  justify-items: center;
  align-items: start;
  gap: 1rem;
  height: 100%;
  padding: 0.8rem 0;
  border-bottom: 1px solid v.$clr-accent;

  @include m.up(sm) {
    grid-template-columns: 140px 1fr;
    justify-items: start;
  }
}

.imgContainer {
  width: 140px;
  height: 140px;
  position: relative;
  overflow: hidden;
}

.imgLink {
  display: flex;
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: center;
}

.image {
  object-fit: contain;
}

.info {
  display: flex;
  flex-direction: column;
  height: 100%;
  gap: 0.7rem;
  min-width: 0;
}

.title {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  line-clamp: 2;
  overflow: hidden;
  text-overflow: ellipsis;
}

.meta {
  margin-top: auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.metaItem {
  display: flex;
  justify-content: center;
  align-items: center;

  div {
    margin: 0 0.5rem;
  }
}

.endDate {
  font-size: v.$fs-13;
}
