@use "../../styles/variables" as v;
@use "../../styles/mixins" as m;

.loaderWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1.6rem;
  padding-top: 8rem;
}
