@use "../../styles/variables" as v;
@use "../../styles/mixins" as m;

.hero {
  width: 100%;
  position: relative;
  overflow: hidden;
  height: clamp(220px, 28vw, 580px);
  box-shadow: v.$shadow-light;
}

.heroImg {
  object-fit: cover;
  object-position: top;
  z-index: 0;
}

.card {
  background-color: v.$clr-bg-card;
  max-width: 600px;
  text-align: left;
  padding: 2rem;
  border-radius: v.$border;
  box-shadow: v.$shadow;
  display: flex;
  flex-direction: column;
  gap: 1.6rem;
  margin: 0 auto;

  h2 {
    text-transform: uppercase;
  }

  .lead {
    margin: 0;
  }
}

.counters {
  display: grid;
  grid-template-columns: 1fr;
  gap: 1.2rem;
  margin-top: 0.5rem;

  @include m.up(md) {
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
  }
}

.counter {
  padding: 1rem 1.2rem;
  border-radius: v.$border;
  background: rgba(0, 0, 0, 0.03);
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.4rem;
}

.value {
  font-size: v.$fs-28;

  @include m.up(md) {
    font-size: v.$fs-34;
  }

  @include m.up(lg) {
    font-size: v.$fs-42;
  }
}

.label {
  opacity: 0.8;
}

.actions {
  margin-top: 1.5rem;
  display: flex;
  gap: 1rem;
  justify-content: flex-end;
  flex-wrap: wrap;

  .button {
    align-self: flex-end;
    margin-top: auto;
  }
}
